<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <runtime>
  <!--Runtime Binding Info-->
  <assemblyBinding xmlns="urn:schems-microsoft-com:asm.v1" >
    <dependentAssembly>
      <assemblyIdentity name="Ch14-P2-CarLibrary" 
                        publicKeyToken="A2BE0D9DD36240A4" culture="neutral" />
      <bindingRedirect 
        oldVersion="3.0.0.0" newVersion="4.0.0.0" ></bindingRedirect>
    </dependentAssembly>
  </assemblyBinding>
  </runtime>
</configuration>